body {
    background: #020617;
    color: #e2e8f0;
    font-family: Arial;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.stats {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background: #0f172a;
    padding: 20px;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px #0ea5e9;
}

.anomaly-card {
    box-shadow: 0 0 10px red;
}

.alert {
    display: none;
    background: red;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}

.chart-container {
    background: #0f172a;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #0f172a;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #1e293b;
}

.anomaly-row {
    background: rgba(255,0,0,0.2);
}